@CHARSET "ISO-8859-1";

@font-face
{
	font-family: road_em;
	src: url('font/Roadgeek2005SeriesEM.eot');
}

@font-face
{
	font-family: road_em;
	src: url('font/Roadgeek2005SeriesEM.ttf');
}

@font-face
{
	font-family: road_c;
	src: url('font/Roadgeek2005SeriesC.eot');
}

@font-face
{
	font-family: road_c;
	src: url('font/Roadgeek2005SeriesC.ttf');
}

.white {
	font-family: road_em;
	color: black;
	border-color: black;
	border-style: solid;
	background-color: white;
}

.green {
	font-family: road_em;
	color: white;
	border-color: white;
	border-style: solid;
	background-color: rgb(0,155,103);
}

.blue {
	font-family: road_em;
	color: white;
	border-color: white;
	border-style: solid;
	background-color: rgb(0,62,134);
}

.yellow {
	font-family: road_em;
	color: black;
	border-color: black;
	border-style: solid;
	background-color: rgb(255,242,0);
}

.orange {
	font-family: road_em;
	color: black;
	border-color: black;
	border-style: solid;
	background-color: rgb(247,146,51);
}

.red {
	font-family: road_em;
	color: white;
	border-color: white;
	border-style: solid;
	background-color: rgb(181,39,60);
}

.brown {
	font-family: road_em;
	color: white;
	border-color: white;
	border-style: solid;
	background-color: rgb(97,54,29);
}

a:link {color:#D0D0D0; }    /* unvisited link */
a:visited {color:#D0D0D0;}  /* visited link */
a:hover {color:yellow; border-bottom: none;}  /* mouse over link */
a:active {color:red;}     /* selected link */

p, ul {
	font-family: road_c;
	font-size: x-large;
	color: white;
}

div {
	float: none;
}

.elevatorPitch {
	font-family: road_em;
	color: yellow;
	margin: .3em;
	text-align: center;
	text-shadow: 0px 0px 3px black;  /* makes it slightly easier to read */
}

.dashed {
	border-bottom: 5px;
	border-bottom-style: dashed;
	border-bottom-width: 5px;
	border-bottom-color: white;
	padding-bottom: 5px;	
}

h1 {
	padding-top: 0.5em;
	font-family: road_em;
	color: Yellow;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	clear:both;
}

h2 {
	font-family: road_em;	
	color: yellow;
	border-bottom: 5px;
	border-bottom-style: dashed;
	border-bottom-width: 5px;
	border-bottom-color: white;
	padding-bottom: 5px;
	text-shadow: 0px 0px 3px black;  /* makes it slightly easier to read */
	clear:both;
}

body {
	background-image: url(img/asphalt.jpg);
	background-repeat: repeat;
	margin-left: auto;
	margin-right: auto;
	width:70%;
}

.keyboard {
	background-image: url(img/keys.png);
	background-repeat: no-repeat;
	background-position: center;
}


.navigation {
	max-width: 35em;
}

.navsign {
	text-align: center;
	float: left;
	border-width: 2px;
	padding: .25em;
	padding-left: .4em;
	padding-right: .4em;
	margin: .2em;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

.sign {
	text-align: center;
	border-width: 3px;
	padding: .5em;
	margin: .2em;
	float: left;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
}

.center {
	margin-left: auto;
	margin-right: auto;
}

.welcome {
	float: none;
	padding-left: 2em;
	padding-right: 2em;
	width: 30em;
}

.innerWelcome {
	font-size: x-large;	
	text-align: left;
}

.subWelcome {
	font-size: large;
	font-style: italic;
	display: block;	
	text-align: right;
}

.smallSign {
	width: 2em;
	height: 3em;	
}

.password {
	clear: both;
	padding: 1.5em;
	max-width: 40em;	
}

.finders {
	clear: both;
	padding: 1.5em;
	max-width: 48em;
	height: 100em;
}

.pattern {
	font-family: road_em;
	margin-bottom: 10px;
	height: 8em;
}

.passSummary {
	font-family: road_em;
	margin-bottom: 10px;
}

.patternDetail {
	font-family: road_em;
	clear:both;
	display: none;
	margin: 5;
}

.inline {
	float:left;	
}

.large {
	font-size: x-large;
}

.medium {
	font-size: large;
}

.xxlarge {
	font-size: xx-large;
}

.xsmall {
	font-size: x-small;
}

.small {
	font-size: small;
}

.smallFixed {
	width: 12em;	
}

.nowrap {
	clear:both;
}

.horiz {
	background-image: url('img/horiz-keys.png');
}

.diag {
	background-image: url('img/diag-keys.png');
}

.repeat {
	background-image: url('img/repeat-keys.png');
}

.policy {
	width: 30em;
}

.left{
	float: left;
}

dd {
	font-family: road_c;
	color: white;
	font-size: x-large;
}

dt {
	font-family: road_em;
	color: yellow;
	font-size: x-large;
}

em {
	color: white;
	font-style: normal;
	text-shadow: 2px 2px 3px #B2B200;  /* makes it slightly easier to read */
}

div.spaceTop {
	margin-top: 15px;
}

.example{
	font-size: x-small;	
}

div.passwordOptions, div.examples{
	border-top-style: groove;
	border-top-width: 1px;	
	display: none;
	padding: .25em;
}
.examplesIcon,.optionsIcon {
	font-size: small;
	padding: 0.25em;
	padding-left: 1em;
	padding-right: 1em;
}
div.textArea {
	padding-bottom: 0.25em;
	padding-left: 2em;
	padding-right: 2em;
}
div.menu {
	display: block;
}

/* loading page: */
.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     120%;
    width:      120%;
    background: rgba( 200, 200, 200, .8 ) 
                url('img/ajax-loader.gif') 
                45% 45% 
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}

